* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

body {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home {
  width: 50%;
  height: 100%;
  background-color: #004643b2;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5em;
  border-radius: 4rem;
  /*text-align: center;
    justify-content: center;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    padding-bottom: 5rem;
    padding-top: 5rem;
    border-radius: 4rem;*/
}

.circle {
  background-color: #fff;
  margin-left: 22.5rem;
  margin-right: 22.5rem;
  margin-top: 4em;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  border-radius: 15rem;
  color: #004643;
  text-align: center;
}

.circle h2 {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 0.8rem;
  font-size: 18px;
  font-weight: 600;
}

span {
  display: flex;
  color: #f8c660;
  font-family: Baloo 2;
  font-size: 15px;
  font-weight: 300;
  line-height: 32.04px;
  text-align: left;
  justify-content: center;
  margin-top: -0.8rem;
  margin-left: 3rem;
}

.name {
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 2rem;
  width: 75%;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 16px;
  color: #fff;
}

.name input[type="text"] {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  outline: none;
}

.btn-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.btn-submit {
  width: 100%;
  padding: 10px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  background: #f8c660;
  color: white;
  white-space: nowrap;
}

.line {
  width: 100%;
  height: 2px;
  background-color: #ccc;
  margin: 20px 0;
}

.auth-btn {
  width: 100%;
  padding: 10px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  background: #fff;
  color: black;
  white-space: no-wrap;
}

.fa-google {
  font-size: 18px;
  background: linear-gradient(45deg, #4285f4, #ea4335, #fbbc05, #34a853);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

@media (max-width: 320px) {
  .home {
    width: 100%;
    height: 50%;
  }

  .circle {
    border-radius: 18rem;
  }

  .circle h2 {
    font-size: 14px;
  }
  .circle span {
    font-size: 13px;
  }

  .name {
    width: 65%;
  }

  .btn-submit {
    width: 100%;
    padding: 10px 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    background: #f8c660;
    color: white;
    white-space: nowrap;
  }

  .line {
    width: 100%;
    height: 2px;
    background-color: #ccc;
    margin: 20px 0;
  }

  .auth-btn {
    width: 100%;
    padding: 10px 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    background: #fff;
    color: black;
    white-space: nowrap;
  }

  .fa-google {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .home {
    width: 70%;
    height: 50%;
  }

  .circle {
    border-radius: 18rem;
  }

  .circle h2 {
    font-size: 14px;
  }
  .circle span {
    font-size: 13px;
  }

  .name {
    width: 75%;
  }

  .btn-submit {
    width: 100%;
    padding: 10px 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    background: #f8c660;
    color: white;
    white-space: nowrap;
  }

  .line {
    width: 100%;
    height: 2px;
    background-color: #ccc;
    margin: 20px 0;
  }

  .auth-btn {
    width: 100%;
    padding: 10px 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    background: #fff;
    color: black;
    white-space: nowrap;
  }

  .fa-google {
    font-size: 16px;
  }
}

@media (max-width: 425px) {
  .home {
    width: 100%;
    height: 50%;
  }

  .circle {
    border-radius: 18rem;
  }

  .circle h2 {
    font-size: 14px;
  }
  .circle span {
    font-size: 13px;
  }

  .name {
    width: 75%;
  }

  .btn-submit {
    width: 100%;
    padding: 10px 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    background: #f8c660;
    color: white;
    white-space: nowrap;
  }

  .line {
    width: 100%;
    height: 2px;
    background-color: #ccc;
    margin: 20px 0;
  }

  .auth-btn {
    width: 100%;
    padding: 10px 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    background: #fff;
    color: black;
    white-space: nowrap;
  }

  .fa-google {
    font-size: 16px;
  }
}

@media (max-width: 375px) {
  .home {
    width: 100%;
    height: 50%;
  }

  .circle {
    border-radius: 18rem;
  }

  .circle h2 {
    font-size: 14px;
  }
  .circle span {
    font-size: 13px;
  }

  .name {
    width: 75%;
  }

  .btn-submit {
    width: 100%;
    padding: 10px 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    background: #f8c660;
    color: white;
    white-space: nowrap;
  }

  .line {
    width: 100%;
    height: 2px;
    background-color: #ccc;
    margin: 20px 0;
  }

  .auth-btn {
    width: 100%;
    padding: 10px 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    background: #fff;
    color: black;
    white-space: nowrap;
  }

  .fa-google {
    font-size: 16px;
  }
}
/*.btn{
    background: ;
    width: 383px;
     color: #fff;
     font-size: 18px;
     
     margin-left: 1rem;
     margin-top: 10rem;
     border-radius: 5rem;
     justify-content: center;
     text-align: center;
     align-items: center;
     cursor: pointer;

}

h4{
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-left: -5rem;
    
    
    
}*/

.first-image {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 3.5px solid #000;
  display: block;
  margin-left: 13.5rem;
  margin-top: 5rem;
  background-size: cover;
}

.name-1 {
  display: flex;
  color: #fff;
  margin-left: 13rem;
  margin-top: 0.5rem;
}

.sp-1 {
  display: flex;
  color: #fff;
  margin-left: -4rem;
  margin-top: 1rem;
}

.second-image {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 3.5px solid #e6ff06;
  display: flex;
  margin-left: 24rem;
  margin-top: -14rem;
  background-size: cover;
}

.crown {
  position: absolute;
  width: 30px;
  height: 30px;
  margin-top: -1.5rem;
  margin-left: -0.5rem;
}

.name-2 {
  color: #fff;
  margin-top: 0.5rem;
  margin-left: 1.2rem;
}

.sp-2 {
  color: #fff;
  margin-left: -0.5rem;
  margin-top: 0.02rem;
}

.third-image {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 3.5px solid #000;
  display: flex;
  margin-left: 34rem;
  margin-top: -6rem;
  background-size: cover;
}

.name-3 {
  color: #fff;
  margin-left: 21rem;
  margin-top: 0.5rem;
}

.sp-3 {
  color: #fff;
  margin-left: -0.3rem;
  margin-top: 0.1rem;
}

.leader {
  color: #fff;
  display: flex;
  margin-top: -3rem;
  margin-bottom: 10rem;
  text-align: center;
  justify-content: center;
}

.btn-1 {
  position: absolute;
  display: flex;
  padding: 0.1rem;
  padding-left: 5px;
  padding-right: 5px;
  color: #fff;
  background-color: #000;
  border-radius: 100%;
  max-width: 100vh;
  border: 1px solid #000;
  margin-left: 16.2rem;
  margin-top: 5.9rem;
  margin-bottom: -19rem;
}

.btn-2 {
  position: absolute;

  display: flex;
  padding: 0.1rem;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 26.4rem;
  margin-top: -0.9rem;
  color: #000;
  background-color: #e6ff06;
  border-radius: 100%;
  max-width: 100vh;
  border: 1px solid #e6ff06;
}
.btn-3 {
  position: absolute;
  display: flex;
  padding: 0.1rem;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 36.4rem;
  margin-top: -0.9rem;
  color: #fff;
  background-color: #000;
  border-radius: 100%;
  max-width: 100vh;
  border: 1px solid #000;
}

.form-1 {
  background-color: #eff0f3;
  padding-bottom: 10rem;
  padding-top: 1rem;
  margin-bottom: 0;
}

.person-1 {
  position: absolut;
  background-color: #ffffff;
  width: 42rem;
  height: 6rem;
  border-radius: 5rem;
  opacity: 0px;
  justify-content: center;
  align-items: center;
  margin-left: 5rem;
  margin-top: 2rem;
}

.pics-1 {
  display: flex;
  position: absolute;
  width: 65px;
  height: 60px;
  border-radius: 100%;
  margin-left: 3.5rem;
  margin-top: 1.2rem;
  justify-content: center;
  align-items: center;
}

.four-4 {
  position: absolute;
  color: #000;
  font-size: 20px;
  margin-left: 2rem;
  margin-top: 2.3rem;
}

.first-name {
  position: absolute;
  margin-top: 2.3rem;
  margin-left: 12rem;
  font-size: 20px;
}
.first-sp {
  position: absolute;

  color: #000;
  font-size: 20px;
  display: block;
  margin-left: 35rem;
  margin-top: 2rem;
}

.direction {
  position: absolute;
  display: flex;
  margin-left: 3rem;
  justify-content: left;
  text-align: left;
  margin-top: 1.5rem;
  font-size: 20px;
  cursor: pointer;
}

.arrow {
  position: absolute;
  display: flex;
  font-size: 25px;
  color: #000;
  margin-left: -2rem;
  cursor: pointer;
}
