@property --degrees {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
html {
  --degrees: 0deg;
}

* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #eff0f3;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  overflow-x: hidden;
}

.container {
  width: 430px;
  align-items: center;
}

main {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 5rem 30rem 5rem 30rem;
  padding-bottom: 5rem;
  padding-top: 2rem;
}

.head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 47px;
}

.nav {
  font-size: 12px;
  color: #004643;
  font-weight: bold;
  cursor: pointer;
}
.pre {
  margin-left: 4px;
}
.number {
  margin-left: 105px;
  font-size: 16px;
}

.outer_box {
  position: absolute;
  width: 86px;
  height: 86px;
  background:  conic-gradient(
    rgb(3, 85, 14) 0turn var(--degrees),
    #78c478 0turn
  );
  animation: animate 3s cubic-bezier(1, 0, 0.5, 1) forwards;
  border-radius: 100%;
  box-shadow: 1px 5px 10px 0px #999;
  margin-top: 31px;
  margin-left: 160px;
}
@keyframes animate {
  100% {
    --degrees: 180deg;
  }
}
.time-notification{
  animation: bounce 2s ease-in-out infinite;
}

@keyframes bounce {
  0% {
   transform: translateY(-10px)
  }
  100%{
    transform: translateY(0);
  }
}

.inner_box {
  position: absolute;
  width: 66px;
  height: 66px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
}

.questions {
  display: flex;
  background: #fff;
  width: 383px;
  height: 229px;
  gap: 0px;
  border-radius: 20px;
  margin: auto;
  margin-top: 88px;
  box-shadow: 0rem 1rem 1rem 0rem #999;
}

.auto-questions {
  font-family: Baloo 2;
  font-size: 18px;
  font-weight: 600;
  line-height: 2rem;
  text-align: center;
  margin-top: 5rem;
  margin-left: 24px;
  margin-right: 24px;
}

section {
  margin-top: 70px;
}
.links{
  display: flex;
  gap: 20px;
}

.score{
  text-align: center;

  a{
    text-decoration: none;
    color: #004643;
  }

  a:hover{
    text-decoration: underline;
  }
}

.options {
  width: 383px;
  display: flex;
  background-color: #fff;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  border-radius: 4rem;
  cursor: pointer;
  margin: 2rem;
}

.options:hover {
  background: #78c478;
}

input[type="radio"] {
  width: 20px;
  height: 20px;
  /* margin-left: 254px; */
  cursor: pointer;
}



button {
  width: 383px;
  height: 59px;
  border-radius: 20px;
  background-color: #004643;
  color: #fff;
  font-size: 24px;
  font-family: "Baloo 2", cursive;
  margin: 2rem;
  cursor: pointer;
}
/*  */
.options.selected {
  background-color: lightblue;
}

.correct {
  color: green;
}

.incorrect {
  color: red;
}

.result-container {
  width: 300px;
  display: none;
  text-align: center;
  margin: 20px  auto;
  background: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
h1 {
  color: #4CAF50;
}
.score {      
  margin: 20px 0;
}
.message {
  font-size: 1.2em;
  margin: 20px 0;
}
.retry-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.retry-button:hover {
  background-color: #45a049;
}
